body {
  background-image: url("../The Gallery Café Images/Loginbackground.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgb(255, 255, 255); */
  /* text-align: center; */
}

.auth-section {
  max-width: 800px;
  margin: 0 auto;
}

.image {
  text-align: center;
  margin-top: -40px;
  margin-bottom: -24px;
}

.auth-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.login-form,
.register-form {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(14px);
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin: 0px 20px 20px 0px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #555;
}

a{
    color: azure;
}