<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Audiowide"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<div class="button-container">
  <a class="adminButton" href="ManageMenu.php"
    ><button class="adminButton2">
      <i
        class="fas fa-hamburger"
        style="font-size: 48px; color: rgb(255, 255, 255)"
      ></i>
      Manage Menu Foods and Drinks
    </button></a
  >
  <a class="adminButton" href="ManageReserv.php"
    ><button class="adminButton2" type="button">
      <i
        class="fas fa-calendar-alt"
        style="font-size: 48px; color: rgb(255, 255, 255)"
      ></i
      >Manage Reservations
    </button></a
  >
  <a class="adminButton" href="MangeAccount.php"
    ><button class="adminButton2">
      <i
        class="fas fa-address-card"
        style="font-size: 48px; color: rgb(255, 255, 255)"
      ></i
      >Create Staff or Admin Account
    </button></a
  >
  <a class="adminButton" href="order_status.php"
    ><button class="adminButton2">
      <i
        class="far fa-clipboard"
        style="font-size: 48px; color: rgb(255, 255, 255)"
      ></i
      >Orders & Order Status
    </button></a
  >
  <a class="adminButton" href="Manageusers.php"
    ><button class="adminButton2">
      <i
        class="fas fa-user-friends"
        style="font-size: 48px; color: rgb(255, 255, 255)"
      ></i
      >View Users
    </button></a
  >
</div>
