<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Audiowide"
/>

<nav>
  <!-- <a href="../Pages/Home.php"
    ><img
      src="../The Gallery Café Images/Logo.png"
      alt="Logo"
      height="60px"
      width="60px"
  /></a> -->
  <ul>
    <li><a href="../Pages/Home.php">Home</a></li>
    <li><a href="../Pages/Menu.html">Menu</a></li>
    <li><a href="../Pages/reservation.html">Reservations</a></li>
    <li><a href="../Pages/about.html">About</a></li>
    <li><a href="../Pages/login.html">Login</a></li>
  </ul>
</nav>
